body {
  font-size: 10px;
  font-family: sans-serif;
}
.black {
  color: black;
}

/* STYLING FOR BOTH INDEX AND CART */

/* HEADER */

.header {
  margin-bottom: 0;
}

/* TOPBAR */
.topBar {
  height: 25px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
}
.top-bar-bg {
  background-color: rgb(226, 230, 235);
}

.top-bar-p {
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  text-wrap: wrap;
  color: black;
}
.top-bar-span {
  text-decoration: underline;
}

/* HEADER */

.headerContainer {
  height: 80px;
}

.headerLogo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-width: 205px;
  text-shadow: 1px 0px 2px rgb(108, 108, 108);
  color: black;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 2.7rem;
}

/* SEARCHBAR(WITHIN HEADER) */

.searchBar-form {
  margin-bottom: 38px;
  padding-bottom: 1px;
}

.searchBar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 40px;
  width: clamp(250px, 35vw, 500px);
  font-size: 1.2rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(88, 88, 88);
  min-width: 300px;
}

.btn1 {
  width: 40px;
  height: 35px;
  background-color: rgb(229, 229, 229);
  border: 0.5px solid gray;
  border-radius: 5px;
}
.btn1:hover {
  background-color: rgb(206, 206, 206);
}

/* NAV(WITHIN HEADER) */
.header-nav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.navbar-toggler {
  border: 0;
  background-color: rgb(226, 230, 235);
}

.list-style-none {
  list-style: none;
}

.list-item {
  display: flex;
}
.list-item-link {
  color: black;
  font-size: 1.2rem;
}

.list-item-link:hover {
  color: rgb(118, 0, 0);
}

.li-link-0 {
  padding-right: 20px;
}
.li-link-1 {
  border-right: 1px solid rgb(46, 46, 46);
  min-width: 69px;
}

.li-link-2 {
  padding-left: 3px;
  min-width: 102px;
}

/* IMAGES/BANNERS */

.img-section {
  background-color: rgb(226, 230, 235);
  margin-bottom: 15px;
}
.img-div {
  box-shadow: 0px 1px 8px rgb(45, 45, 45);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.img-div1 {
  background-image: url(harry-shelton-unsplash.jpg);
  background-size: cover;

  width: 370px;
  height: 520px;
}

.img-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  padding-top: 16px;
}
.img-text1 {
  font-size: 2.7rem;
  color: aliceblue;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  padding-left: 13px;
}

.img-div2 {
  background-image: url(luana-azevedo-unsplash.jpg);
  background-size: cover;
  width: 400px;
  height: 520px;
}

.img-text2 {
  font-size: 2.8rem;
  color: aliceblue;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  padding-left: 13px;
}
.img-div3 {
  background-image: url(leutrim-fetahu-unsplash.jpg);
  background-size: cover;
  width: 400px;
  height: 520px;
}

.img-text3 {
  font-size: 2.6rem;
  color: aliceblue;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  padding-left: 13px;
}

/* ITEMS  */

.item-section {
  margin-top: 20px;
}

.item-section-header {
  margin-left: 60px;
  padding-left: 60px;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 2.2rem;
}

.item-row {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: rgb(226, 230, 235);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
.item-img {
  height: clamp(250px, 30vh, 400px);
  width: clamp(200px, 15vw, 300px);
}

.item-name {
  font-size: 0.9rem;
  margin-bottom: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.price {
  font-size: 0.8rem;
  margin-top: 2px;
  margin-bottom: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.old-price {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 400;
}
.new-price {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(161, 19, 19);
  font-weight: 600;
}

.line-through {
  text-decoration: line-through;
}

.add-to-cart {
  width: clamp(55px, 9vw, 200px);
  margin: 0;
  padding: 0;
  height: clamp(20px, 5vh, 100px);
  align-self: center;
  font-size: 0.9rem;
  font-family: "Arial Narrow Bold", sans-serif;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  border-width: 1px;
}

.add-to-cart:hover {
  background-color: rgb(218, 218, 218);
}

/* FOOTER */

.footer {
  height: 150px;
  background-color: black;
}

.footer-row {
  justify-content: space-around;
}
.github,
.linkedin {
  color: rgb(255, 255, 255);
  padding-top: 50px;
  font-size: 0.8rem;
}
.github:hover,
.linkedin:hover {
  color: rgb(227, 233, 255);
}

/* STYLING FOR PAGINATION */

.page-list {
  gap: 5px;
  margin-bottom: 0;
  padding-left: 12px;
}
.page-link {
  font-size: 1rem;
  color: rgb(58, 93, 188);
  font-family: Arial, sans-serif;
}

.page-link:hover {
  color: rgb(26, 37, 124);
}

.lessthan {
  font-size: 1rem;
}

.cart-section {
  min-height: 400px;
  background-color: rgb(226, 230, 235);
}

.cart-header {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  padding-top: 10px;
  margin-left: 25px;
  padding-left: 30px;
}
.cart-body {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.cart-row {
  margin-left: 30px;
}
.cart-h3 {
  font-size: 1.2rem;
}

.cart-h3-price {
  margin-left: 45px;
  padding-left: 35px;
}
.cart-h3-qty {
  margin-top: 30px;
}
.cart-item {
  height: clamp(100px, 10vh, 250px);
  display: flex;
  justify-content: space-around;
}

.cart-item-img {
  width: clamp(70px, 8vw, 200px);
  height: clamp(90px, 12vh, 250px);
}
.cart-item-name {
  font-size: 0.85rem;
}

.cart-item-pricetag {
  font-size: 0.85rem;
  margin-right: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
.cart-item-price {
  font-size: 0.85rem;
}

.cart-item-qty {
  font-size: 0.85rem;
  padding-right: 25px;
  margin-right: 25px;
  margin-top: 30px;
}
.cart-total-div {
  flex-direction: row;
  justify-content: right;
  margin-right: 85px;
  padding-right: 80px;
  margin-top: 30px;
}
.cart-total-text,
.cart-total {
  font-size: 0.9rem;
}

.checkout-div {
  justify-content: right;
  margin-right: 80px;
  padding-right: 80px;
  margin-top: 10px;
}

.checkout {
  font-size: 1rem;
  border-radius: 2px;
  border-width: 1.5px;
  background-color: rgb(182, 224, 225);
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkout:hover {
  background-color: rgb(176, 229, 230);
}
